<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>Google Classroom Automation</title>
  </head>
  <body>
    <div class="jumbotron m-4">
      <h1>Welcome to GCAuto</h1>
      <p class="lead">
        GCAuto (Google Classroom Automation) is a tool that helps google
        classroom users automate classroom activities.
      </p>
      <hr class="my-4" />
      <p>You need a Google account to use GCAuto.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/google/login"
          >Sign In with Google</a
        >
      </p>
    </div>
  </body>
</html>
